<div class="describe">
  <%= form_with(model: @applicant, url: applicant_path(@applicant), local: true, method: :patch, id: 'describe-pet-form') do |f| %>
    <%= f.fields_for :applicant do |applicant_fields| %>
      <div>
        <%= applicant_fields.label :add_description %>
      </div>
      <div>
        <%= applicant_fields.text_area :description %>
      </div>
    <% end %>
    <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
    
    <div>
      <%= f.submit "Submit this application" %>
    </div>
  <% end %>
</div>

